/* General Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edf0ee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

/* Header Rules */

header {
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 40px;
    color: black;
}

#logo{
    height: 50px;
    weight: auto;
    line-height: 50px;
    vertical-align: middle;
    margin: 20px 10px;
}

/* Main Rules */

#container {
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 4px;
    margin: 40px auto;
    padding: 10px;
}

#task-button {
    background-color: #219aeb;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    padding: 8px;
    margin-left: 20px;
}

#section-button {
    border: 1px solid #cfd0d1;
    color: #cfd0d1;
    border-radius: 4px;
    padding: 8px;
    margin-left: 5px;
}

#button-section {
    width:100%;
    height: 50px;
    border-bottom: 1px solid #cfd0d1;   
}

#button-container {
    padding-top: 20px;
    padding-left: 10px;
}

.checklist {
    padding: 20px;
}

section h2{
    padding-left: 20px;
    color: #646663;
}

.activity {
    color: #646663;
}

#today {
    margin-top: 25px;
}

#upcoming {
    margin-top: 25px;
}

#todolist{
    margin-top: 40px;
}

/* ToDo List Rules */

.checkmark {
    color: #1d7d33;
    border: 1px solid #1d7d33;
    border-radius: 50%;
    padding: 2px;
}

.activity {
    margin-left: 10px;
    font-size: 16px;
}

.topic {
    background-color: #219aeb;
    color: white;
    padding: 8px;
    border: 1px solid #219aeb;
    border-radius: 15px;
}

/* Today Rules */

.xmark {
    color: #e60707;
    border: 1px solid #e60707;
    border-radius: 50%;
    padding: 2px;
}

.topic.q1-goals {
    background-color: #6f07e6;
    border-color: #6f07e6;
}

.topic.recruiting {
    background-color: #65ad6e;
    border-color: #65ad6e;
}

.topic.mobile{
    background-color: #f07d02;
    border-color: #f07d02;
}

/* Upcoming Rules */

.topic.website {
    background-color: #d61e99;
    border-color: #d61e99;
}

.topic.sales{
    background-color: #47a807;
    border-color: #47a807;
}