/* General Rules */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #edf0ee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

/* Header Rules */

header {
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 40px;
    color: black;
}